/* click-catcher/click-catcher.scss */

.click-catcher {
  background-color: $color-transparent;
  background-image: none;
}

.click-catcher-button {
  background-color: $color-transparent;
  border: none;
}